---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="other_blog_link" />
  <Breadcrumbs />
  <main id="main-content">
    <section class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <div>
        <slot />
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  :root {
    --color-text-dark: #000000; /* 定义夜间模式的字体颜色为黑色 */
  }

  [data-theme="dark"] {
    color: var(--color-text-dark); /* 应用夜间模式的字体颜色 */
  }

  .prose {
    @apply bg-white p-8 rounded-lg shadow-md;
  }
</style>
